* {
    /* margin: 5px; */
    padding: 0px;
    box-sizing:border-box;
    /* border: red solid 2px; */
}
ul {
    list-style: none;
}
li a {
    text-decoration: none;
    text-align: center;
    padding:1rem;
}
.main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    
}
.secondary-text {
    font-size: 18px;
    color:#E5E7EB

}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    display:flex;
    margin: 0px;
   
}

.header-left {
    display:flex;
    flex-direction:column;
    flex: 1 1 50%;
    align-items: baseline;
}

.header-logo{
    font-size:24px;
    color: #F9FAF8;
}

.header-body{
    
}

.header-right{
    display:flex;
    flex-direction:column;
    flex: 1 1 50%;
}

.header-nav{
    
}

.header-img {

}

.info{
    display:flex;
    flex-direction:column;
    align-items: center;
    flex:1 1 100%;
    padding: 1rem 20rem 10rem 20rem;
    
}

.info-header {
    font-size: 36px;
    font-weight:bolder;
    color:#1F2937;
    margin-bottom: 16px;
}

.info-card {
    display:flex;
    gap: 1rem;
    
}

.card {
    display:flex;
   flex-direction: column;
    text-align:center;
}

.card img {
    width: auto;
    height: 20rem;
    display: block;
    border: lightblue solid 2px;
    border-radius: 5%;
}

.header-img img {
    height:15rem;
    width: auto;
}

.quote {
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    padding: 10rem 20rem 10rem 20rem;
}

.quote p {
    float: right;
}

.quote h3 {
    font-size:36px;
    font-style:italic;
    font-weight: lighter;
    color:#1F2937
}